name: Pytest and Ruff
permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test-and-lint:
    name: "Run pytest and ruff"
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@cfd55ca82492758d853442341ad4d8010466803a
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Run Ruff Linter
        run: |
          ruff check --output-format=github .

      - name: Run Ruff Formatter Check
        run: |
          ruff format --check .

      - name: Run Pytest
        run: |
          pytest --verbose --cov=server --cov-report=term --cov-report=xml

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v5
        if: always()
        with:
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
